.header {
  font-size: 24px;
  color: #343131;
  text-decoration: underline;
  margin-bottom: 10px;
}

.custombox {
  background: linear-gradient(to right, #FFDC00, #ED1C25);
  height: 300px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 14px rgba(0, 0, 0, 0.2);
}

.details {
  font-size: 16px;
  color: #111010c5;
  margin-bottom: 5px;
}

.details span {
  font-weight: bold;
  color: #ded5d5;
}

.container {
  width: 1000px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 20px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}
