.grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 15px;
    margin: auto; 
  }
  
.grid div {
    display: flex;
    padding: 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
    background-color: #af2a31;
    width: 800px; /* Increase the width for longer buttons */
    margin: auto; 
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
  
.grid div:hover {
    background-color: rgba(213, 69, 69, 0.8);
    transform: scale(1.1);
  }
  
  body {
    background-color: #F7F7F7;
  }

.welcome-banner {
    background: linear-gradient(to right, #FFDC00, #ED1C25);
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-left: -22px;
  }
  
  .welcome-banner h1 {
    font-size: 48px;
    color: #ffffff;
  }
  
  .explore-text {
    text-align: center;
    margin-top: 20px;
  }
  
  .explore-text h2 {
    font-size: 24px;
    color: #000000;
  }
  
  .video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .more-innovative {
    color: #EC6C00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;  
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
    }