.about-zinnia {
    display: flex;
    align-items: center;
    color: rgb(84, 79, 79);
  }
  
  .image-container {
    flex: 1;
    display: flex;
  }
  
  .image-container img {
    max-width: 40%;
    max-height: 100%;
  }
  
  .text-container {
    flex: 1;
    text-align: justify;
    max-width: 60%;
    margin-top: 225px;
    padding-right: 130px;
  }
  
  .heading {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;

  }
  
  .bold {
    font-weight: bold;
  }
  
  .body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
  }
  